/* 
    Created on : Nov 28, 2016, 8:45:26 AM
    Author     : krom
*/

body {
    font-family: sans-serif;
}

section {
    border: 1px solid #acacac;
    background-color: #e6e6e6;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

section h2 {
    background-color: white;
    text-align: center;
    border-bottom: 1px solid #acacac;
    margin: 0;
}

section input {
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
}

section button {
    box-sizing: border-box;
    vertical-align: middle;
}

.controls {
    padding: 2px;
    /*background-color: orange;*/
}

.controls label {
    display: inline-block;
    width: 6em;
}

.canvas {
    /*background-color: green;*/
    text-align: center;
    padding: 5px;
}
